{% extends "_base.html" %}

{% block content %}

<h1>Your Profile</h1>
<br>

{% if current_user.is_authenticated() %}
  <p>Email: {{current_user.email}}</p>
{% endif %}

<div class="container">
  <div class="raw">

    <div class="col-md-4">
      <h2>Build your future</h2>
      <br>
      <form class="form-reset" role="form"  method="post" action="" >
        {{ searchCompanyForm.csrf_token }}
        <p>
          {{ searchCompanyForm.company(placeholder="company") }}
        </p>
        <button class="btn btn-success" type="submit" formaction="">Find company</button>
      </form>
    </div>

    <div class="col-md-8">
      <h2>Your best choice</h2>
      <br>
      <div class="list-group">
        {% for university in universities %}
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">{{ university }}</h4>
            <!--<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
          </a>

        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}